<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Swagger Endpoints</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!--<script src="jquery-3.4.1.slim.min.js"}/>
    <script src="popper.min.js"/>
    <script src="bootstrap.min.js"/>-->

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Swagger Definitions</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/index.html}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/dashboard.html}">Dashboard <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-5 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/swagger-ui.html}">Swagger UI <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">

                </div>
                <div class="sb-sidenav-footer">

                </div>
            </nav>
        </div>
        <!-- Content goes here-->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <form class="container padding-top" action="#" style="padding-top: 20px;" th:action="@{/admin/add-swagger.html}" th:object="${swaggerSpec}" method="post">
                        <div class="row ">
                            <div class="form-group col-4">
                                <label for="name">Name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>

                            <div class="form-group col-8">
                                <label for="email">Swagger Json url</label>
                                <input type="text" class="form-control" th:field="*{url}" id="email" placeholder="URL">
                                <span th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span>
                                <small id="emailHelp" class="form-text text-muted">Eg. https://your-domain.com/api/v2/api-docs</small>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-4">
                                <label for="name">Swagger Version</label>
                                <input type="text" class="form-control"  th:field="*{version}" value="2.0" id="version" placeholder="Version">
                                <span th:if="${#fields.hasErrors('version')}" th:errors="*{version}"></span>
                            </div>
                            <div class="form-group col-4">
                                <label for="email">Priority</label>
                                <input type="text"  class="form-control" th:field="*{priority}" id="priority" placeholder="priority">
                                <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></span>
                            </div>
                        </div>

                        <input type="text" hidden="true" th:field="*{id}" id="id">
                        <input type="submit"  class="btn btn-primary" value="Add Swagger">
                    </form>

                    <div>

                    </div>


                    <div class="container mt-5" th:if="${not #lists.isEmpty(swaggerSpecList)}">
                        <ol class="card-header">
                            Available swagger definitions
                        </ol>
                        <table  class="table table-responsive">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Json Url</th>
                                <th scope="col">Version</th>
                                <th scope="col">Priority</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <th:block th:each="swaggerSpec : ${swaggerSpecList}">
                                <tr>
                                    <td scope="row" th:text="${swaggerSpec.name}"></td>
                                    <td  th:text="${swaggerSpec.url}"></td>
                                    <td  th:text="${swaggerSpec.version}"></td>
                                    <td th:text="${swaggerSpec.priority}"></td>
                                    <td><a th:href="@{'/admin/edit.html/' + ${swaggerSpec.id}}">Edit</a></td>
                                    <td><a th:href="@{'/admin/delete.html/' + ${swaggerSpec.id}}">Delete</a></td>
                                </tr>
                            </th:block>
                        </table>
                    </div>


                </div>

            </main>

        </div>
    </div>

    <div>

    </div>


</body>
<!--<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
        </div>
    </div>
</footer>-->
</html>